# Ignore node_modules directory
node_modules/

# Ignore all .env files
.env

# Ignore log files
*.log

#Ignore package files
/package.json
/package-lock.json

#ignore dist folder
dist/

#ignore test app folder.
App-1/

#ignore all .pem files
*.pem